<%= form_for @subcategory, :html => {:multipart => true}  do |f| %>
  <% if @subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

      <ul>
      <% @subcategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "Category" %><br />
    
    
   
    <%= f.collection_select :category_ids, Category.all, :id, :name, {}, { :multiple => true }  %>
  
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
	<div id="vendor_images" class="subcategory-photos">
	<%= render @vendor_images %>

</div>
  <%= form_for VendorImage.new , :html => {:multipart => true }   do |f| %>
  <div class="field">
    <%= f.hidden_field :subcategory_id, :value => @subcategory.id %><br />
  </div>

  <div class="field">
  	<%= label_tag "add photos"%>
    <%= file_field_tag(:image , multiple: true, name: "vendor_image[portfolio]") %><br />
  </div>
  <% end %>
  <script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>	
  

