<p id="notice"><%= notice %></p>


<div class="row">
	<div class="six columns">
  <%= @video.url.html_safe %> 
  <%= @video.name %>
  <%= @video.post.title %>


 
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
</div>

</div>