<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vendor_image.name %>
</p>

<p>
  <b>Subcategory:</b>
  <%= @vendor_image.subcategory_id %>
</p>

<p>
  <b>Portfolio:</b>
  <%= @vendor_image.portfolio %>
</p>


<%= link_to 'Edit', edit_vendor_image_path(@vendor_image) %> |
<%= link_to 'Back', vendor_images_path %>
