<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  <div class="booking_form">
	  <ul>
	  <li class="field">
	    <%= f.label :current_password, :class => "inline", :for => "password"%>
	    <%= f.password_field :current_password, :class =>"narrow text input", :id => "password", :type => "password", :placeholder => "password" %>
	  </li>
  <li class="field">
    <%= f.label "New Password", :class => "inline", :for => "password1"%>
    <%= f.password_field :password, :class =>"narrow text input", :id => "password1", :type => "password", :placeholder => "password" %>
  </li>
  <li class="field">
    <%= f.label "Re-type Password", :class => "inline", :for => "password2"%>
    <%= f.password_field :password_confirmation, :class =>"narrow text input", :id => "password2", :type => "password", :placeholder => "password" %>
  
	  <li><%= f.submit "Update Password" %></li>
</ul>
</div>
<% end %>