<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @wedding.date %>
</p>

<p>
  <b>Photo package:</b>
  <%= @wedding.photo_package_id %>
</p>

<p>
  <b>Engagement shoot:</b>
  <%= @wedding.engagement_shoot %>
</p>

<p>
  <b>Cinematography:</b>
  <%= @wedding.cinematography %>
</p>

<p>
  <b>Country:</b>
  <%= @wedding.country %>
</p>

<p>
  <b>Bride getting ready:</b>
  <%= @wedding.bride_getting_ready %>
</p>

<p>
  <b>Groom getting ready:</b>
  <%= @wedding.groom_getting_ready %>
</p>

<p>
  <b>Ceremony location:</b>
  <%= @wedding.ceremony_location %>
</p>

<p>
  <b>Ceremony setting:</b>
  <%= @wedding.ceremony_setting %>
</p>

<p>
  <b>Type of ceremony:</b>
  <%= @wedding.type_of_ceremony_id %>
</p>

<p>
  <b>Ceremony time:</b>
  <%= @wedding.ceremony_time %>
</p>

<p>
  <b>Reception location:</b>
  <%= @wedding.reception_location %>
</p>

<p>
  <b>Order of events:</b>
  <%= @wedding.order_of_events %>
</p>

<p>
  <b>Bridesmaids:</b>
  <%= @wedding.bridesmaids %>
</p>

<p>
  <b>Groomsmen:</b>
  <%= @wedding.groomsmen %>
</p>

<p>
  <b>Number of guests:</b>
  <%= @wedding.number_of_guests %>
</p>

<p>
  <b>Photography style:</b>
  <%= @wedding.photography_style %>
</p>

<p>
  <b>Payment currency:</b>
  <%= @wedding.payment_currency %>
</p>

<p>
  <b>Payment method:</b>
  <%= @wedding.payment_method %>
</p>

<p>
  <b>How did you find us:</b>
  <%= @wedding.how_did_you_find_us %>
</p>

<p>
  <b>Recommended by:</b>
  <%= @wedding.recommended_by %>
</p>

<p>
  <b>Notes:</b>
  <%= @wedding.notes %>
</p>


<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
