<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=132757036746170";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% if @page < 2 && !@recentpost.blank? %>
<div class="mainpost row">
	<div class="twelve columns">
		<h1> <%= link_to @recentpost.title.upcase, @recentpost %></h1>
			<div class="ifcan">
				<% if can? :update, @post %>
					<%= link_to 'Edit', edit_post_path(@recentpost) %> | 
					<%= link_to 'Destroy', @recentpost, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</div>
		<h2 class="published_date">Published on: <%= @recentpost.published_at.to_date.to_formatted_s(:long_ordinal) %></h2>
		<div id="frontslideshow" class="blogslideshow"><p>
			<div class="flexslider">
				<ul class="slides">
					
					<% @tme = 0 %>
					<% if @tme < 10 %>
					<% @recentpost.blog_images.shuffle!.each do |img| %>
					<li>
					<%=  link_to image_tag(img.image_url.to_s), @recentpost %>
					</li>
					<% @tme = @tme + 1 %>
					<% end %>
					<% end %>
				</ul>
			</div>		
		</div>
<div class="fb-like-mainpost">		
<div class="fb-like" data-href="<%= post_url @recentpost %>" data-send="false" data-width="450" data-show-faces="false"></div></div>
<p><%= truncate(@recentpost.body, :length => 200) %>...<%= link_to 'see more', @recentpost %></p>
	</div>
</div>
<div class=row><div class="line push_one ten columns"></div></div>


<% end %>




<div class="small_posts_div row">
	<div class="blogbadges four columns nopin">       
        <div class="row agwpja"> <%= link_to(image_tag("assoc/agwpja.png"), "http://www.agwpja.com") %></div>
        <div class="row wpja"><%= link_to(image_tag("assoc/wpja.png"), "http://www.wpja.com")%></div>
	<div class="row bestofweddings"><%= link_to(image_tag("assoc/bestofweddingphotography.png"), "http://www.bestofweddingphotography.com/yaisa-tangwell-photography/") %></div>
 	</div> 
	<div class="small_posts_content eight columns">
	
		
		<% @posts.each_slice(2) do |slice| %>
		
		<div class="row">
			<% slice.each do |post| %>
			
				<div class="smallpost six columns">
   	 		   	 <h3><%= link_to post.title.upcase, post, :class => "post-title"  %></h3>
				 <div class="ifcan">
					<% if can? :update, @posts %>
			  	   		<%= link_to 'Edit', edit_post_path(post) %> | 
    					<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
				</div>
				 <h4>Published on: <%= post.published_at.to_date.to_formatted_s(:long_ordinal) %></h4>
			   <% unless post.blog_images.first.blank? %>
			   <%=  link_to image_tag(post.blog_images.sample.image_url(:small).to_s), post %>
   				<% end %>
			   
	  <div class="fb-like" data-layout="button_count" data-href="<%= post_url post %>" data-send="false" data-width="200" data-show-faces="false"></div>			
    		   <p><%= truncate(post.body, :length => 60) %>...<%= link_to 'see more', post %></p>
			   
			   
			</div>
			<% end %>
			
		</div>
		
	<% end %>
	</div><!--eight columns-->
	
</div><!--smallposts row-->




<div class="paginate">
	<% if can? :update, @posts %>
		<%= link_to "View Unpublished Posts", unpublished_path %><br/>
		<%= link_to "View Scheduled Posts", scheduled_path %><br/>
		<%= link_to 'Create New Post', new_post_path %>
	
		<% end %>
    <%= will_paginate @posts, previous_label: h("Previous"), next_label: h(" More Weddings...") %>
</div>



