<div class="small_posts_div row">
	<h1> Scheduled Posts </h1>
	<div class="sidebarcontact four columns">
		
	</div><!--four columns-->
  	
	<div class="small_posts_content eight columns">
		
		
		<% @posts.each_slice(2) do |slice| %>
		
		<div class="row">
			<% slice.each do |post| %>
			
				<div class="smallpost six columns">
   	 		   	 <h3><%= link_to post.title, post, :class => "post-title"  %></h3>
				 <div class="ifcan">
					<% if can? :update, @posts %>
			  	   		<%= link_to 'Edit', edit_post_path(post) %> | 
    					<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
				</div>
				 <h4>Published date set to: <%= post.published_at.to_formatted_s(:long_ordinal) %></h4>
			   <% unless post.blog_images.first.blank? %>
			   <%=  link_to image_tag(post.blog_images.sample.image_url(:small).to_s), post %>
   				<% end %>
			   
	   			
    		   <p><%= truncate(post.body, :length => 60) %>...<%= link_to 'see more', post %></p>
    		   <p>Posted by: <%=  %></p>
			   
			   
			</div>
			<% end %>
			
		</div>
		
	<% end %>
	</div><!--eight columns-->
	
</div><!--frontslideshow -->


<% if can? :update, @posts %>
<div class="post-links">
	<%= link_to 'Create New Post', new_post_path %>
	
</div>
<% end %>

<div class="paginate">
<%= paginate @posts %>
</div>



