<h1>Editing Categories/Sub-Categories</h1>

<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

  <div class="row">
	  
  <div class="seven columns">
    <%= f.text_field :name %>
  <%= f.submit %>
  
</div>

  <div class="five columns">
	  <h2>Existing Sub-Categories</h2>
	  <ul>
	  <% @category.subcategories.each do |subcategory| %>
	  <li><%= link_to subcategory.name, edit_subcategory_path(subcategory) %></li>
   <% end %>
  </ul>
  <%= link_to "Add Sub Categories", new_subcategory_path(:cat_id => @category.id) %>

</div>
</div>

  
  
  
<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
<% end %>
