<%= content_for(:title) { "Wedding Vendors" } %>

<div class="post_category_head">
<h1>VIEW WEDDINGS BY:</h1>
</div>

<div class="category_content">

<% @categories.sort_by!{ |m| m.name.downcase }.each_slice(2) do |slice| %>

<div class= "row">
   <% slice.each do |category| %>
	 <div class= "category six columns nopin">
		 
    	<h3><%= link_to category.name.pluralize.upcase, category_path(category) %></h3>
		
		<%= link_to image_tag("category/"+category.name.gsub(' ', '').downcase+".jpg",  :class => "categoryphoto"), category_path(category) %>
		
			<% if can? :update, @category %>
    			<%= link_to 'Edit Main Category', edit_category_path(category) %> |
    			<%= link_to 'Destroy Main Category', category, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
	</div>
	<% end %>
	
	
</div>


<% end %>
</div>
<% if can? :update, @category %>
<%= link_to 'New Category', new_category_path %>
<% end %>
