<h1>Categories & Sub-Categories</h1>

<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	  
  <div class="row">
	  
  <div class="six columns">
    <%= f.label :name %>
    <%= f.text_field :name %>  
 
    <%= f.submit %>
  </div>
  

</div>
<% end %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>