<div class="post_category_head">
<h1><%= @category.name.pluralize.upcase %></h1>
	
<div class= "category_content row">
	 <div class= "category nopin six columns push_one">
		 
		
		<%= image_tag "category/"+@category.name.gsub(' ', '').downcase+".jpg",  :class => "categoryphoto" %>
  	</div>
    <div class="subcategories five columns nopin">
    <ul>
			<% @subcategories.sort_by!{ |m| m.name.downcase }.each do |subcategory| %>
      	
				<li>
					<%= link_to subcategory.name.upcase, subcategory %> 
					<% if can? :update, @category %>
		    			|<%= link_to 'Edit', edit_subcategory_path(subcategory) %> | 
		    			<%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
				</li>
			<% end %>
		</ul>
  	</div>
  </div>  
  
	
  <div class="paginate">
  <% if can? :update, @category %>
  <%= link_to 'Edit', edit_category_path(@category) %> |
	 <% end %>
  <%= will_paginate @subcategories, previous_label: h("Previous"), next_label: h("More #{@category.name.pluralize}...") %>
  <%= link_to 'See all Vendor Categories', vendors_path %>
  </div>



