  <%= image_tag blog_image.image_url.to_s %>

  <% if can? :update, @posts %>
<%= blog_image.name %>

<ul>
<li class="field">
  <%= best_in_place blog_image, :vieworder, :type => :input %>
</li>
<li>
<%= best_in_place blog_image, :frontpage, :type => :checkbox, :collection => ["Off Frontpage", "On Frontpage"] %>
</li>
</ul>       


  <%= link_to "edit", edit_blog_image_path(blog_image) %> |
  <%= link_to "remove", blog_image, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
