<h1>Listing blog_images</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blog_images.each do |blog_image| %>
  <tr>
    <td><%= image_tag blog_image.image_url(:small).to_s %></td>
    <td><%= %>blog_image.name </td>
    <td><%= blog_image.post.title %></td>
    <td><%= blog_image.frontpage %></td>
    <td><%= link_to 'Show', blog_image %></td>
    <td><%= link_to 'Edit', edit_blog_image_path(blog_image) %></td>
    <td><%= link_to 'Destroy', blog_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<div class="paginate">
    <%= will_paginate @blog_images, previous_label: h("Previous"), next_label: h(" More Images...") %>
</div>
