<div class=row>
	
	<div class="line push_one ten columns"></div></div>
	
	
<div id="bottomlinks" class="row" role="complementary">


	<div class="btmlink1 three columns">
		<h3 class="widget-title"><%= truncate(@category1.name.pluralize.upcase, :length => 20) %></h3>
		<ul>
			<% @category1.subcategories.shuffle![(0..3)].each do |subcategory1| %>			
			<li class=""> <%= link_to truncate(subcategory1.name.upcase, :length => 22), subcategory1 %></li>
			<% end %>
			<li><%= link_to '...see more', category_path(@category1) %></li>
			
		</ul>	
		</div><!-- .first -->
	
	<div class="btmlink2 three columns">
		<h3 class="widget-title"><%= truncate(@category2.name.pluralize.upcase, :length => 20) %></h3>
		<ul>	
			<% @category2.subcategories.shuffle![(0..3)].each do |subcategory2| %>			
			<li class=""> <%= link_to truncate(subcategory2.name.upcase, :length => 22), subcategory2 %></li>
			<% end %>
			<li><%= link_to '...see more', category_path(@category2) %></li>
		</ul>	
</div><!-- .second -->

        <div class="btmlink3 three columns">
               <h3 class="widget-title"><%= truncate(@category3.name.pluralize.upcase, :length => 20) %></h3>
			   <ul>	
				<% @category3.subcategories.shuffle[(0..3)].each do |subcategory3| %>			
	   			<li class=""> <%= link_to truncate(subcategory3.name.upcase, :length => 22), subcategory3 %></li>
	   			<% end %>
	   			<li><%= link_to '...see more', category_path(@category3) %></li>
			</ul>       
		</div><!-- .third -->

        <div class="btmlink4 three columns">
      	  <h3 class="">RECENT POSTS</h3>
		<ul>
									
					<% @rposts[(0..3)].each do |rpost| %>			
					<li class=""> <%= link_to truncate(rpost.title.upcase, :length => 20), rpost %></li>
					<% end %>
					<li><%= link_to '...see more', weddings_path %></li>
					
				</ul>
	</div><!-- .fourth -->
    
</div><!--#bottomlinks.row -->

<div id="social-icons" class="nopin">
<div>
	<%= link_to(image_tag("social/twitter.png"),"https://twitter.com/yaisatangwell") %>
	<%= link_to(image_tag("social/facebook.png"), "http://www.facebook.com/yaisatangwellphotography")%>
	<%= link_to(image_tag("social/googleplus.png"), "http://google.com/+yaisatangwell") %>
	<%= link_to(image_tag("social/vimeo.png"), "http://www.vimeo.com/channels/yaisatangwellphotography") %>
	<%= link_to(image_tag("social/pinterest.png"), "http://www.pinterest.com/yaisatangwell") %>
</div><!--social-icons-->


<%= render "layouts/copyright" %>

<%= javascript_include_tag "js/libs/gumby.min", "js/plugins","js/main" %>


