<div class="row navbar" id="nav1">
	<a class="toggle" gumby-trigger="#nav1 #main-nav" href="#"><i class="icon-menu"></i></a>
		<ul id="main-nav"">
			<li ><%= link_to "HOME", root_path %></li>
			<li ><%= link_to "WEDDINGS", weddings_path %></li>
			<li ><%= link_to "CINEMATOGRAPHY", cinematography_path %></li>
			<li ><%= link_to "VENDORS", vendors_path %>
			<div class="dropdown">
		        	<ul>
						<% @cats.sort_by!{ |m| m.name.downcase }.each do |category| %>
						<li><%= link_to truncate(category.name.pluralize,:length => 18), category %></li>
						<% end %>
						
			  		</ul>
		  		</div>
      
      </li>
			<li>
				<% unless user_signed_in? %>
			<%= link_to "CLIENTS", new_user_session_path %>
			<% else %>
			<%= link_to "CLIENT PORTAL", client_portal_path, :class => "portallink" %>
			<% end%>
			
			</li>
			<li><%= link_to "CONTACT", contact_path %></li>
			<li><%= link_to "ABOUT US", aboutus_path %></li>
			
		</ul>
</div><!-- #site-navigation -->
