<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>Yaisa Tangwell Photography</title>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
   
  
  <%= stylesheet_link_tag "gumby", "home", "flexslider" %>
  <%= javascript_include_tag "application", "page/blog_images" %>
<%= analytics_init if Rails.env.production? %> 



<% if @post.blank? || @post.title.blank? || @post.blog_images.blank? %>
<% @imgs = 0 %>
<% @fbook_images.each do |fbook_image|%>
<% if @imgs < 5 %>
<meta property="og:image" content="http://www.yaisatangwell.com<%= fbook_image.image_url.to_s %>"/>
<% @imgs = @imgs +1 %>
<% end %>
<% end %>
<meta property="og:title" content="Yaisa Tangwell Photography - Blog" />
<meta property="og:url" content="http://www.yaisatangwell.com" />
<meta property="og:description" content="Yaisa Tangwell photography specialises in Wedding Photography in the Caribbean. We are based in Trinidad & Tobago and are led by Marcus and Yaisa, a husband and wife team" />

<% else %>
<% @bimgs = 0 %>
<% @post.blog_images.shuffle.each do |blog_image| %>
<% if @bimgs < 5 %>
<meta property="og:image" content="http://www.yaisatangwell.com<%= blog_image.image_url.to_s %>"/>
<% @bimgs = @bimgs +1 %>
<% end %>
<% end %>

<meta property="og:title" content="Yaisa Tangwell Photography - <%= @post.title.upcase %>" />
<meta property="og:url" content="http://www.yaisatangwell.com/posts/<%= @post.slug %>" />
<meta property="og:description" content="<%= @post.title.upcase %> - Published on: <%= @post.published_at.to_date.to_formatted_s(:long_ordinal) %>" />
<% end %>  
<meta property="og:type" content="blog" />
  
  <!-- Place in the <head>, after the three links -->
  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
    
</head>
 

<body class="" >
	<%= render "layouts/sign_in"%>
	
<div id="page_wrap" class="container row">
	<%= render "layouts/alert_notification"%>
		
	
	<%= render "layouts/smallheader"%>
	
	
	<div class="smallnav">
	<%= render "layouts/stdnavbar" %>
</div>
		
	<%= yield %>
	
	<%= render "layouts/bigftr" %>
	
</div><!--.pagewrap-->

<%= render "layouts/pinteresthover"%>

	
</body>
